.form-group {
    .form-control {
        &.error {
            margin-bottom: 5px;
            border-color: #d20000 !important;
            display: initial;
        }
    }

    &.price {
        position: relative;

        .el-price {
            width: 42px;
            height: 42px;
            background: #4e5053;
            border-radius: 0 6px 6px 0;
            position: absolute;
            top: 30px;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 18px;
        }
    }

    .input-error {
        .error {
            padding-top: 0;
        }
    }
}
