.box-url {
    &.blue {
        background: linear-gradient(45deg, rgba(0,145,255,1) 0%, rgba(21,166,214,1) 35%, rgba(0,191,255,1) 100%);
    }

    &-socials {
        .box-url-social {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 32px;
        color: #fff;

        &:hover {
            padding-left: 5px;
            color: #fff;
        }

        i {
            width: 32px;
            text-align: center;
        }

        .cont {
            margin-left: 15px;
            font-size: 20px;
        }
    }
}